<!DOCTYPE html>
<html lang="">
<!-- To declare your language - read more here: https://www.w3.org/International/questions/qa-html-language-declarations -->
<head>
<title>HACKATHON 2K18</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

{% load static %}

<link href="{% static "layout/styles/layout.css" %}" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
  

  <div class="wrapper bgded overlay" style="background-image:url({% static 'images/demo/backgrounds/background.jpg' %});">
      <div id="pageintro" class="hoc clear"> 
        <!-- ################################################################################################ -->
        <article>
          <p>Simple Platform to unite Investors and Startups</p>
          <h3 class="heading">Smart India Hackathon 2018</h3>
          <footer>
            <ul class="nospace inline pushright">
              <li><a class="btn" href="/Startup">Startup</a></li>
              <li><a class="btn inverse"  href="/Investor">Investor</a></li>
            </ul>
          </footer>
        </article>
        <!-- ################################################################################################ -->
      </div>
    </div>
    
    <!-- Footer Background Image Wrapper -->
    
    
<div style ="background:#f0f0f0;">
    
      <div class="wrapper row4">
        <footer id="footer" class="hoc clear"> 
          <!-- ################################################################################################ -->
         
          <center><h6 class="heading" style="color:#333;">ABOUT US</h6></center>
        <center>
          <div class="one_third first" style="color:#333;">
            <ul class="nospace btmspace-30 linklist contact">
              <li><i class="fa fa-map-marker"></i>
                <address>
                Street Name &amp; Number, Town, Postcode/Zip
                </address>
              </li>
            </ul>
          </div>
        </center>  
        <center>
          <div class="one_third">
            <ul class="nospace btmspace-30 linklist contact" style="color:#333;">       
              <li><i class="fa fa-phone"></i> +00 (123) 456 7890</li>
            </ul>
            <ul class="faico clear">
              <li><a class="faicon-facebook" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="faicon-dribble" href="#"><i class="fa fa-dribbble"></i></a></li>
              <li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </center>
    
          <center>
          <div class="one_third">
            <ul class="nospace btmspace-30 linklist contact" style="color:#333;">
              <li><i class="fa fa-envelope-o"></i> info@domain.com</li>
            </ul>
          </div>
        </center>
        
        </footer>
      </div>
    
        
    
    
      <div class="wrapper row5">
        <div id="copyright" class="hoc clear"> 
         
        </div>
      </div>
      <!-- ################################################################################################ -->
    </div>
    <!-- End Footer Background Image Wrapper -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <a id="backtotop" href="#top" class=""><i class="fa fa-chevron-up"></i></a>
    <!-- JAVASCRIPTS -->
    <script src="{% static "layout/scripts/jquery.min.js" %}"></script>
    <script src="{% static "layout/scripts/jquery.backtotop.js" %}"></script>
    <script src="{% static "layout/scripts/jquery.mobilemenu.js" %}"></script>
  </body>
</html>
